*, html, body{
    padding: 0;
    margin :0;
    font-family: 'plus jakarta sans';
}
nav{
    background-color: #EDEDEF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82px;
}
.left-nav {
    display: flex;
    background: none;
    justify-content: center;
    align-items: center ;
    margin-left: 64px;
}
.left-nav img {
    width: 160px;
    height: 33.88px;
}
.left-nav img:hover{
    cursor: pointer;
}

.right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-nav img {
    width: 24px;
    height: 24px;
    margin-right: 24px;
}

.right-nav img:hover{
    cursor: pointer;
}


ul {
    list-style: none;
    gap: 1rem;
    display: flex;
    margin-left: 10px;
    background: none;
    margin-left: 25px;
}
li{
    background-color: #EDEDEF;
}
a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    background: none;
}
nav ul li a:hover{
    transition: all 0.3s ease 0s;
    color: crimson;
    
}
button {
    color: white;
    margin: 0 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 24px;
    padding: 8px 24px 8px 24px;
    border-radius: 4px;
    border-style: none;
    font-weight: 700;
    font-size: 14px;
    background-color: crimson;
    text-transform: capitalize;
    

}
button:hover{
    cursor: pointer;
    background-color: rgb(152, 25, 50);
    transition: all 0.3 ease 0s;
}

.new-arrival {
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-top: 70px;
    margin-left: 64px;
    gap: 32px;
}

.img-placehold {
    width: 550px;
    height: 335px;
}


.desc h2{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 24px;
}